<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdk8s.sculptor.mapper.SysBigTextMapper">

	<resultMap id="BaseResultMap" type="com.cdk8s.sculptor.pojo.entity.SysBigText">
		<id column="id" property="id"/>

		<result column="text_title" property="textTitle"/>
		<result column="text_code" property="textCode"/>
		<result column="text_content" property="textContent"/>
		<result column="state_enum" property="stateEnum"/>
		<result column="delete_enum" property="deleteEnum"/>
		<result column="tenant_id" property="tenantId"/>
		<result column="create_date" property="createDate"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="update_date" property="updateDate"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="delete_date" property="deleteDate"/>
		<result column="delete_user_id" property="deleteUserId"/>
	</resultMap>

	<sql id="Base_Column_List">

		id,
		text_title,
		text_code,
		text_content,
		state_enum,
		delete_enum,
		tenant_id,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
	</sql>

	<!--=====================================查询业务 start=====================================-->

	<select id="selectById" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where id = #{id}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		limit 1
	</select>

	<select id="selectByTextTitleWhereLike" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysbigtext.SysBigTextTextTitleLikeQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where text_title LIKE CONCAT('%',#{textTitle},'%')

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
	</select>



	<select id="selectByTextCode" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysbigtext.SysBigTextTextCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where text_code = #{textCode}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by create_date desc
	</select>


	<select id="selectByTextCodeList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysbigtext.SysBigTextTextCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where text_code in
		<foreach item="item" index="index" collection="textCodeList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by create_date desc
	</select>




	<select id="selectByIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdListMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by create_date desc
	</select>

	<select id="selectByPageQueryMapperBo" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysbigtext.SysBigTextPageQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text

		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="textTitle != null and textTitle !=''">
				and text_title = #{textTitle}
			</if>
			<if test="textCode != null and textCode !=''">
				and text_code = #{textCode}
			</if>
			<if test="textContent != null and textContent !=''">
				and text_content = #{textContent}
			</if>
			<if test="stateEnum != null">
				and state_enum = #{stateEnum}
			</if>
			<if test="tenantId != null">
				and tenant_id = #{tenantId}
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId}
			</if>
			<if test="deleteEnum != null">
				and delete_enum = #{deleteEnum}
			</if>
			<if test="createDateStartDate != null">
				and create_date &gt;= #{createDateStartDate}
			</if>
			<if test="createDateEndDate != null">
				and create_date &lt;= #{createDateEndDate}
			</if>
			<if test="updateDateStartDate != null">
				and update_date &gt;= #{updateDateStartDate}
			</if>
			<if test="updateDateEndDate != null">
				and update_date &lt;= #{updateDateEndDate}
			</if>
		</where>
		<choose>
			<when test="orderByList != null">
				order by
				<foreach item="item" index="index" collection="orderByList" open="" separator="," close="">
					${item}
				</foreach>
			</when>
			<otherwise>
				order by create_date desc
			</otherwise>
		</choose>
	</select>

	<select id="selectByStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where state_enum = #{stateEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>

	<select id="selectByDeleteEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where delete_enum = #{deleteEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>

	<select id="selectByDeleteEnumAndStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_big_text
		where delete_enum = #{deleteEnum} and state_enum = #{stateEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>

	<!--=====================================查询业务 end=====================================-->
	<!--=====================================操作业务 start=====================================-->

	<insert id="batchInsertList">
		INSERT INTO sys_big_text(

		id,
		text_title,
		text_code,
		text_content,
		state_enum,
		delete_enum,
		tenant_id,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
		)VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(

			#{item.id},
			#{item.textTitle},
			#{item.textCode},
			#{item.textContent},
			#{item.stateEnum},
			#{item.deleteEnum},
			#{item.tenantId},
			#{item.createDate},
			#{item.createUserId},
			#{item.updateDate},
			#{item.updateUserId},
			#{item.deleteDate},
			#{item.deleteUserId}
		)
		</foreach>
	</insert>

	<update id="updateStateEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchUpdateStateMapperBO">
		update sys_big_text
		set
		state_enum = #{stateEnum},
		update_date = #{updateDate},
		update_user_id = #{updateUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</update>

	<update id="updateDeleteEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchDeleteMapperBO">
		update sys_big_text
		set
		delete_enum = #{deleteEnum},
		delete_date = #{deleteDate},
		delete_user_id = #{deleteUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</update>


	<!--=====================================操作业务 end=====================================-->

</mapper>
