<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdk8s.sculptor.mapper.SysEventLogMapper">

	<resultMap id="BaseResultMap" type="com.cdk8s.sculptor.pojo.entity.SysEventLog">
		<id column="id" property="id"/>

		<result column="user_id" property="userId"/>
		<result column="username" property="username"/>
		<result column="message" property="message"/>
		<result column="execute_time" property="executeTime"/>
		<result column="request_date" property="requestDate"/>
		<result column="request_url" property="requestUrl"/>
		<result column="request_method" property="requestMethod"/>
		<result column="request_param" property="requestParam"/>
		<result column="bool_execute_success_enum" property="boolExecuteSuccessEnum"/>
		<result column="operate_type_enum" property="operateTypeEnum"/>
		<result column="exception_msg" property="exceptionMsg"/>
		<result column="tenant_id" property="tenantId"/>
		<result column="ip_address" property="ipAddress"/>
		<result column="ip_region" property="ipRegion"/>
		<result column="ip_region_country" property="ipRegionCountry"/>
		<result column="ip_region_province" property="ipRegionProvince"/>
		<result column="ip_region_city" property="ipRegionCity"/>
		<result column="ip_region_isp" property="ipRegionIsp"/>
		<result column="user_agent" property="userAgent"/>
		<result column="device_name" property="deviceName"/>
		<result column="os_name" property="osName"/>
		<result column="browser_name" property="browserName"/>
		<result column="browser_locale" property="browserLocale"/>
		<result column="create_date" property="createDate"/>
		<result column="create_user_id" property="createUserId"/>
	</resultMap>

	<sql id="Base_Column_List">

		id,
		user_id,
		username,
		message,
		execute_time,
		request_date,
		request_url,
		request_method,
		request_param,
		bool_execute_success_enum,
		operate_type_enum,
		exception_msg,
		tenant_id,
		ip_address,
		ip_region,
		ip_region_country,
		ip_region_province,
		ip_region_city,
		ip_region_isp,
		user_agent,
		device_name,
		os_name,
		browser_name,
		browser_locale,
		create_date,
		create_user_id
	</sql>

	<!--=====================================查询业务 start=====================================-->

	<select id="selectById" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log
		where id = #{id}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		limit 1
	</select>


	<select id="selectOneByUserId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syseventlog.SysEventLogUserIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log
		where user_id = #{userId}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		limit 1
	</select>

	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syseventlog.SysEventLogUserIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log
		where user_id = #{userId}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>

	<select id="selectByUserIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syseventlog.SysEventLogUserIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log
		where user_id in
		<foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>

	<select id="selectByUsername" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syseventlog.SysEventLogUsernameMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log
		where username = #{username}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>


	<select id="selectByUsernameList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syseventlog.SysEventLogUsernameMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log
		where username in
		<foreach item="item" index="index" collection="usernameList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>




	<select id="selectByIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdListMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by create_date desc
	</select>

	<select id="selectByPageQueryMapperBo" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syseventlog.SysEventLogPageQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_event_log

		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="username != null and username !=''">
				and username = #{username}
			</if>
			<if test="message != null and message !=''">
				and message = #{message}
			</if>
			<if test="executeTime != null">
				and execute_time = #{executeTime}
			</if>
			<if test="requestDate != null">
				and request_date = #{requestDate}
			</if>
			<if test="requestUrl != null and requestUrl !=''">
				and request_url = #{requestUrl}
			</if>
			<if test="requestMethod != null and requestMethod !=''">
				and request_method = #{requestMethod}
			</if>
			<if test="requestParam != null and requestParam !=''">
				and request_param = #{requestParam}
			</if>
			<if test="boolExecuteSuccessEnum != null">
				and bool_execute_success_enum = #{boolExecuteSuccessEnum}
			</if>
			<if test="operateTypeEnum != null">
				and operate_type_enum = #{operateTypeEnum}
			</if>
			<if test="exceptionMsg != null and exceptionMsg !=''">
				and exception_msg = #{exceptionMsg}
			</if>
			<if test="tenantId != null">
				and tenant_id = #{tenantId}
			</if>
			<if test="ipAddress != null and ipAddress !=''">
				and ip_address = #{ipAddress}
			</if>
			<if test="ipRegion != null and ipRegion !=''">
				and ip_region = #{ipRegion}
			</if>
			<if test="ipRegionCountry != null and ipRegionCountry !=''">
				and ip_region_country = #{ipRegionCountry}
			</if>
			<if test="ipRegionProvince != null and ipRegionProvince !=''">
				and ip_region_province = #{ipRegionProvince}
			</if>
			<if test="ipRegionCity != null and ipRegionCity !=''">
				and ip_region_city = #{ipRegionCity}
			</if>
			<if test="ipRegionIsp != null and ipRegionIsp !=''">
				and ip_region_isp = #{ipRegionIsp}
			</if>
			<if test="userAgent != null and userAgent !=''">
				and user_agent = #{userAgent}
			</if>
			<if test="deviceName != null and deviceName !=''">
				and device_name = #{deviceName}
			</if>
			<if test="osName != null and osName !=''">
				and os_name = #{osName}
			</if>
			<if test="browserName != null and browserName !=''">
				and browser_name = #{browserName}
			</if>
			<if test="browserLocale != null and browserLocale !=''">
				and browser_locale = #{browserLocale}
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId}
			</if>
			<if test="requestDateStartDate != null">
				and request_date &gt;= #{requestDateStartDate}
			</if>
			<if test="requestDateEndDate != null">
				and request_date &lt;= #{requestDateEndDate}
			</if>
			<if test="createDateStartDate != null">
				and create_date &gt;= #{createDateStartDate}
			</if>
			<if test="createDateEndDate != null">
				and create_date &lt;= #{createDateEndDate}
			</if>
		</where>
		<choose>
			<when test="orderByList != null">
				order by
				<foreach item="item" index="index" collection="orderByList" open="" separator="," close="">
					${item}
				</foreach>
			</when>
			<otherwise>
				order by create_date desc
			</otherwise>
		</choose>
	</select>




	<!--=====================================查询业务 end=====================================-->
	<!--=====================================操作业务 start=====================================-->

	<insert id="batchInsertList">
		INSERT INTO sys_event_log(

		id,
		user_id,
		username,
		message,
		execute_time,
		request_date,
		request_url,
		request_method,
		request_param,
		bool_execute_success_enum,
		operate_type_enum,
		exception_msg,
		tenant_id,
		ip_address,
		ip_region,
		ip_region_country,
		ip_region_province,
		ip_region_city,
		ip_region_isp,
		user_agent,
		device_name,
		os_name,
		browser_name,
		browser_locale,
		create_date,
		create_user_id
		)VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(

			#{item.id},
			#{item.userId},
			#{item.username},
			#{item.message},
			#{item.executeTime},
			#{item.requestDate},
			#{item.requestUrl},
			#{item.requestMethod},
			#{item.requestParam},
			#{item.boolExecuteSuccessEnum},
			#{item.operateTypeEnum},
			#{item.exceptionMsg},
			#{item.tenantId},
			#{item.ipAddress},
			#{item.ipRegion},
			#{item.ipRegionCountry},
			#{item.ipRegionProvince},
			#{item.ipRegionCity},
			#{item.ipRegionIsp},
			#{item.userAgent},
			#{item.deviceName},
			#{item.osName},
			#{item.browserName},
			#{item.browserLocale},
			#{item.createDate},
			#{item.createUserId}
		)
		</foreach>
	</insert>


	<delete id="deleteByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchDeleteMapperBO">
		DELETE FROM sys_event_log
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</delete>

	<delete id="deleteByUserIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syseventlog.SysEventLogUserIdListToDeleteMapperBO">
		DELETE FROM sys_event_log
		where user_id in
		<foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</delete>


	<!--=====================================操作业务 end=====================================-->

</mapper>
