<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdk8s.sculptor.mapper.SysFileInfoMapper">

	<resultMap id="BaseResultMap" type="com.cdk8s.sculptor.pojo.entity.SysFileInfo">
		<id column="id" property="id"/>

		<result column="folder_id" property="folderId"/>
		<result column="file_show_name" property="fileShowName"/>
		<result column="file_storage_name" property="fileStorageName"/>
		<result column="file_suffix" property="fileSuffix"/>
		<result column="file_storage_path" property="fileStoragePath"/>
		<result column="file_full_url" property="fileFullUrl"/>
		<result column="file_storage_type_enum" property="fileStorageTypeEnum"/>
		<result column="file_size" property="fileSize"/>
		<result column="ranking" property="ranking"/>
		<result column="description" property="description"/>
		<result column="bool_top_enum" property="boolTopEnum"/>
		<result column="bool_oss_complete_enum" property="boolOssCompleteEnum"/>
		<result column="bool_oss_delete_enum" property="boolOssDeleteEnum"/>
		<result column="state_enum" property="stateEnum"/>
		<result column="delete_enum" property="deleteEnum"/>
		<result column="tenant_id" property="tenantId"/>
		<result column="create_date" property="createDate"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="update_date" property="updateDate"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="delete_date" property="deleteDate"/>
		<result column="delete_user_id" property="deleteUserId"/>
	</resultMap>

	<sql id="Base_Column_List">

		id,
		folder_id,
		file_show_name,
		file_storage_name,
		file_suffix,
		file_storage_path,
		file_full_url,
		file_storage_type_enum,
		file_size,
		ranking,
		description,
		bool_top_enum,
		bool_oss_complete_enum,
		bool_oss_delete_enum,
		state_enum,
		delete_enum,
		tenant_id,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
	</sql>

	<!--=====================================查询业务 start=====================================-->

	<select id="selectById" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where id = #{id}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		limit 1
	</select>


	<select id="selectOneByFolderId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFolderIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where folder_id = #{folderId}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		limit 1
	</select>

	<select id="selectByFolderId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFolderIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where folder_id = #{folderId}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByFolderIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFolderIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where folder_id in
		<foreach item="item" index="index" collection="folderIdList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByFileSuffix" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFileSuffixMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where file_suffix = #{fileSuffix}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByFileStorageName" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFileStorageNameMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where file_storage_name = #{fileStorageName}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByFileShowName" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFileShowNameMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where file_show_name = #{fileShowName}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>


	<select id="selectByFileSuffixList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFileSuffixMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where file_suffix in
		<foreach item="item" index="index" collection="fileSuffixList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByFileStorageNameList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFileStorageNameMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where file_storage_name in
		<foreach item="item" index="index" collection="fileStorageNameList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByFileShowNameList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFileShowNameMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where file_show_name in
		<foreach item="item" index="index" collection="fileShowNameList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>




	<select id="selectByIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdListMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByPageQueryMapperBo" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoPageQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info

		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="folderId != null">
				and folder_id = #{folderId}
			</if>
			<if test="fileShowName != null and fileShowName !=''">
				and file_show_name = #{fileShowName}
			</if>
			<if test="fileStorageName != null and fileStorageName !=''">
				and file_storage_name = #{fileStorageName}
			</if>
			<if test="fileSuffix != null and fileSuffix !=''">
				and file_suffix = #{fileSuffix}
			</if>
			<if test="fileStoragePath != null and fileStoragePath !=''">
				and file_storage_path = #{fileStoragePath}
			</if>
			<if test="fileFullUrl != null and fileFullUrl !=''">
				and file_full_url = #{fileFullUrl}
			</if>
			<if test="fileStorageTypeEnum != null">
				and file_storage_type_enum = #{fileStorageTypeEnum}
			</if>
			<if test="fileSize != null">
				and file_size = #{fileSize}
			</if>
			<if test="ranking != null">
				and ranking = #{ranking}
			</if>
			<if test="description != null and description !=''">
				and description = #{description}
			</if>
			<if test="boolTopEnum != null">
				and bool_top_enum = #{boolTopEnum}
			</if>
			<if test="boolOssCompleteEnum != null">
				and bool_oss_complete_enum = #{boolOssCompleteEnum}
			</if>
			<if test="boolOssDeleteEnum != null">
				and bool_oss_delete_enum = #{boolOssDeleteEnum}
			</if>
			<if test="stateEnum != null">
				and state_enum = #{stateEnum}
			</if>
			<if test="tenantId != null">
				and tenant_id = #{tenantId}
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId}
			</if>
			<if test="deleteEnum != null">
				and delete_enum = #{deleteEnum}
			</if>
			<if test="createDateStartDate != null">
				and create_date &gt;= #{createDateStartDate}
			</if>
			<if test="createDateEndDate != null">
				and create_date &lt;= #{createDateEndDate}
			</if>
			<if test="updateDateStartDate != null">
				and update_date &gt;= #{updateDateStartDate}
			</if>
			<if test="updateDateEndDate != null">
				and update_date &lt;= #{updateDateEndDate}
			</if>
		</where>
		<choose>
			<when test="orderByList != null">
				order by
				<foreach item="item" index="index" collection="orderByList" open="" separator="," close="">
					${item}
				</foreach>
			</when>
			<otherwise>
				order by ranking asc
			</otherwise>
		</choose>
	</select>

	<select id="selectByStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where state_enum = #{stateEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by ranking asc
	</select>

	<select id="selectByDeleteEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where delete_enum = #{deleteEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by ranking asc
	</select>

	<select id="selectByDeleteEnumAndStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_file_info
		where delete_enum = #{deleteEnum} and state_enum = #{stateEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by ranking asc
	</select>

	<!--=====================================查询业务 end=====================================-->
	<!--=====================================操作业务 start=====================================-->

	<insert id="batchInsertList">
		INSERT INTO sys_file_info(

		id,
		folder_id,
		file_show_name,
		file_storage_name,
		file_suffix,
		file_storage_path,
		file_full_url,
		file_storage_type_enum,
		file_size,
		ranking,
		description,
		bool_top_enum,
		bool_oss_complete_enum,
		bool_oss_delete_enum,
		state_enum,
		delete_enum,
		tenant_id,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
		)VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(

			#{item.id},
			#{item.folderId},
			#{item.fileShowName},
			#{item.fileStorageName},
			#{item.fileSuffix},
			#{item.fileStoragePath},
			#{item.fileFullUrl},
			#{item.fileStorageTypeEnum},
			#{item.fileSize},
			#{item.ranking},
			#{item.description},
			#{item.boolTopEnum},
			#{item.boolOssCompleteEnum},
			#{item.boolOssDeleteEnum},
			#{item.stateEnum},
			#{item.deleteEnum},
			#{item.tenantId},
			#{item.createDate},
			#{item.createUserId},
			#{item.updateDate},
			#{item.updateUserId},
			#{item.deleteDate},
			#{item.deleteUserId}
		)
		</foreach>
	</insert>

	<update id="updateStateEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchUpdateStateMapperBO">
		update sys_file_info
		set
		state_enum = #{stateEnum},
		update_date = #{updateDate},
		update_user_id = #{updateUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</update>

	<update id="updateDeleteEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchDeleteMapperBO">
		update sys_file_info
		set
		delete_enum = #{deleteEnum},
		delete_date = #{deleteDate},
		delete_user_id = #{deleteUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</update>

	<update id="updateDeleteEnumByFolderIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysfileinfo.SysFileInfoFolderIdListToDeleteMapperBO">
		update sys_file_info
		set
		delete_enum = #{deleteEnum},
		delete_date = #{deleteDate},
		delete_user_id = #{deleteUserId}

		where folder_id in
		<foreach item="item" index="index" collection="folderIdList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</update>

	<!--=====================================操作业务 end=====================================-->

</mapper>
