<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdk8s.sculptor.mapper.SysPermissionMapper">

	<resultMap id="BaseResultMap" type="com.cdk8s.sculptor.pojo.entity.SysPermission">
		<id column="id" property="id"/>

		<result column="permission_name" property="permissionName"/>
		<result column="permission_code" property="permissionCode"/>
		<result column="permission_url" property="permissionUrl"/>
		<result column="belong_type_enum" property="belongTypeEnum"/>
		<result column="permission_type_enum" property="permissionTypeEnum"/>
		<result column="parent_id" property="parentId"/>
		<result column="parent_ids" property="parentIds"/>
		<result column="icon_class" property="iconClass"/>
		<result column="visible_enum" property="visibleEnum"/>
		<result column="bool_ext_link_enum" property="boolExtLinkEnum"/>
		<result column="bool_new_tab_enum" property="boolNewTabEnum"/>
		<result column="ranking" property="ranking"/>
		<result column="description" property="description"/>
		<result column="state_enum" property="stateEnum"/>
		<result column="delete_enum" property="deleteEnum"/>
		<result column="tenant_id" property="tenantId"/>
		<result column="create_date" property="createDate"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="update_date" property="updateDate"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="delete_date" property="deleteDate"/>
		<result column="delete_user_id" property="deleteUserId"/>
	</resultMap>

	<sql id="Base_Column_List">

		id,
		permission_name,
		permission_code,
		permission_url,
		belong_type_enum,
		permission_type_enum,
		parent_id,
		parent_ids,
		icon_class,
		visible_enum,
		bool_ext_link_enum,
		bool_new_tab_enum,
		ranking,
		description,
		state_enum,
		delete_enum,
		tenant_id,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
	</sql>

	<!--=====================================查询业务 start=====================================-->

	<select id="selectById" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where id = #{id}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		limit 1
	</select>



	<select id="selectByPermissionCode" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syspermission.SysPermissionPermissionCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where permission_code = #{permissionCode}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>


	<select id="selectByPermissionCodeList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syspermission.SysPermissionPermissionCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where permission_code in
		<foreach item="item" index="index" collection="permissionCodeList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>


	<select id="selectByParentId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.ParentIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where parent_id = #{parentId}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByParentIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.ParentIdListMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where parent_id in
		<foreach item="item" index="index" collection="parentIdList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>


	<select id="selectByIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdListMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByPageQueryMapperBo" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.syspermission.SysPermissionPageQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission

		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="permissionName != null and permissionName !=''">
				and permission_name = #{permissionName}
			</if>
			<if test="permissionCode != null and permissionCode !=''">
				and permission_code = #{permissionCode}
			</if>
			<if test="permissionUrl != null and permissionUrl !=''">
				and permission_url = #{permissionUrl}
			</if>
			<if test="belongTypeEnum != null">
				and belong_type_enum = #{belongTypeEnum}
			</if>
			<if test="permissionTypeEnum != null">
				and permission_type_enum = #{permissionTypeEnum}
			</if>
			<if test="parentId != null">
				and parent_id = #{parentId}
			</if>
			<if test="parentIds != null and parentIds !=''">
				and parent_ids = #{parentIds}
			</if>
			<if test="iconClass != null and iconClass !=''">
				and icon_class = #{iconClass}
			</if>
			<if test="visibleEnum != null">
				and visible_enum = #{visibleEnum}
			</if>
			<if test="boolExtLinkEnum != null">
				and bool_ext_link_enum = #{boolExtLinkEnum}
			</if>
			<if test="boolNewTabEnum != null">
				and bool_new_tab_enum = #{boolNewTabEnum}
			</if>
			<if test="ranking != null">
				and ranking = #{ranking}
			</if>
			<if test="description != null and description !=''">
				and description = #{description}
			</if>
			<if test="stateEnum != null">
				and state_enum = #{stateEnum}
			</if>
			<if test="tenantId != null">
				and tenant_id = #{tenantId}
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId}
			</if>
			<if test="deleteEnum != null">
				and delete_enum = #{deleteEnum}
			</if>
			<if test="createDateStartDate != null">
				and create_date &gt;= #{createDateStartDate}
			</if>
			<if test="createDateEndDate != null">
				and create_date &lt;= #{createDateEndDate}
			</if>
			<if test="updateDateStartDate != null">
				and update_date &gt;= #{updateDateStartDate}
			</if>
			<if test="updateDateEndDate != null">
				and update_date &lt;= #{updateDateEndDate}
			</if>
		</where>
		<choose>
			<when test="orderByList != null">
				order by
				<foreach item="item" index="index" collection="orderByList" open="" separator="," close="">
					${item}
				</foreach>
			</when>
			<otherwise>
				order by ranking asc
			</otherwise>
		</choose>
	</select>

	<select id="selectByStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where state_enum = #{stateEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by ranking asc
	</select>

	<select id="selectByDeleteEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where delete_enum = #{deleteEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by ranking asc
	</select>

	<select id="selectByDeleteEnumAndStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_permission
		where delete_enum = #{deleteEnum} and state_enum = #{stateEnum}

		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
		order by ranking asc
	</select>

	<!--=====================================查询业务 end=====================================-->
	<!--=====================================操作业务 start=====================================-->

	<insert id="batchInsertList">
		INSERT INTO sys_permission(

		id,
		permission_name,
		permission_code,
		permission_url,
		belong_type_enum,
		permission_type_enum,
		parent_id,
		parent_ids,
		icon_class,
		visible_enum,
		bool_ext_link_enum,
		bool_new_tab_enum,
		ranking,
		description,
		state_enum,
		delete_enum,
		tenant_id,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
		)VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(

			#{item.id},
			#{item.permissionName},
			#{item.permissionCode},
			#{item.permissionUrl},
			#{item.belongTypeEnum},
			#{item.permissionTypeEnum},
			#{item.parentId},
			#{item.parentIds},
			#{item.iconClass},
			#{item.visibleEnum},
			#{item.boolExtLinkEnum},
			#{item.boolNewTabEnum},
			#{item.ranking},
			#{item.description},
			#{item.stateEnum},
			#{item.deleteEnum},
			#{item.tenantId},
			#{item.createDate},
			#{item.createUserId},
			#{item.updateDate},
			#{item.updateUserId},
			#{item.deleteDate},
			#{item.deleteUserId}
		)
		</foreach>
	</insert>

	<update id="updateStateEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchUpdateStateMapperBO">
		update sys_permission
		set
		state_enum = #{stateEnum},
		update_date = #{updateDate},
		update_user_id = #{updateUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</update>

	<update id="updateDeleteEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchDeleteMapperBO">
		update sys_permission
		set
		delete_enum = #{deleteEnum},
		delete_date = #{deleteDate},
		delete_user_id = #{deleteUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
		<if test="tenantId != null">
			and tenant_id = #{tenantId}
		</if>
	</update>


	<!--=====================================操作业务 end=====================================-->

</mapper>
