.mod-notfound {
  MARGIN-TOP: 100px;
  BACKGROUND: #fff;
  HEIGHT: 585px;
  TEXT-ALIGN: center;
  border-radius: 10px;
  font-family: -apple-system-font, BlinkMacSystemFont, "Microsoft YaHei UI", "Microsoft YaHei", "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
}
