<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdk8s.sculptor.mapper.RelDeptUserMapper">

	<resultMap id="BaseResultMap" type="com.cdk8s.sculptor.pojo.entity.RelDeptUser">
		<id column="id" property="id"/>

		<result column="dept_id" property="deptId"/>
		<result column="user_id" property="userId"/>
		<result column="create_date" property="createDate"/>
		<result column="create_user_id" property="createUserId"/>
	</resultMap>

	<sql id="Base_Column_List">

		id,
		dept_id,
		user_id,
		create_date,
		create_user_id
	</sql>

	<!--=====================================查询业务 start=====================================-->

	<select id="selectById" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where id = #{id}

		limit 0,1
	</select>


	<select id="selectOneByDeptId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserDeptIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where dept_id = #{deptId}

		limit 0,1
	</select>

	<select id="selectByDeptId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserDeptIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where dept_id = #{deptId}

		order by create_date desc
	</select>

	<select id="selectByDeptIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserDeptIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where dept_id in
		<foreach item="item" index="index" collection="deptIdList" open="(" separator="," close=")">
			#{item}
		</foreach>

		order by create_date desc
	</select>
	<select id="selectOneByUserId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserUserIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where user_id = #{userId}

		limit 0,1
	</select>

	<select id="selectByUserId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserUserIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where user_id = #{userId}

		order by create_date desc
	</select>

	<select id="selectByUserIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserUserIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where user_id in
		<foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
			#{item}
		</foreach>

		order by create_date desc
	</select>





	<select id="selectByIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdListMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>

		order by create_date desc
	</select>

	<select id="selectByPageQueryMapperBo" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserPageQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from rel_dept_user

		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="deptId != null">
				and dept_id = #{deptId}
			</if>
			<if test="userId != null">
				and user_id = #{userId}
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId}
			</if>
			<if test="createDateStartDate != null">
				and create_date &gt;= #{createDateStartDate}
			</if>
			<if test="createDateEndDate != null">
				and create_date &lt;= #{createDateEndDate}
			</if>
		</where>
		order by create_date desc
	</select>




	<!--=====================================查询业务 end=====================================-->
	<!--=====================================操作业务 start=====================================-->

	<insert id="batchInsertList">
		INSERT INTO rel_dept_user(

		id,
		dept_id,
		user_id,
		create_date,
		create_user_id
		)VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(

			#{item.id},
			#{item.deptId},
			#{item.userId},
			#{item.createDate},
			#{item.createUserId}
		)
		</foreach>
	</insert>


	<delete id="deleteByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchDeleteMapperBO">
		DELETE FROM rel_dept_user
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteByDeptIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserDeptIdMapperBO">
		DELETE FROM rel_dept_user
		where dept_id in
		<foreach item="item" index="index" collection="deptIdList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<delete id="deleteByUserIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.reldeptuser.RelDeptUserUserIdMapperBO">
		DELETE FROM rel_dept_user
		where user_id in
		<foreach item="item" index="index" collection="userIdList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>


	<!--=====================================操作业务 end=====================================-->

</mapper>
