<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdk8s.sculptor.mapper.SysParamMapper">

	<resultMap id="BaseResultMap" type="com.cdk8s.sculptor.pojo.entity.SysParam">
		<id column="id" property="id"/>

		<result column="type_id" property="typeId"/>
		<result column="type_code" property="typeCode"/>
		<result column="param_name" property="paramName"/>
		<result column="param_code" property="paramCode"/>
		<result column="param_value" property="paramValue"/>
		<result column="ranking" property="ranking"/>
		<result column="description" property="description"/>
		<result column="param_value_type_enum" property="paramValueTypeEnum"/>
		<result column="state_enum" property="stateEnum"/>
		<result column="delete_enum" property="deleteEnum"/>
		<result column="create_date" property="createDate"/>
		<result column="create_user_id" property="createUserId"/>
		<result column="update_date" property="updateDate"/>
		<result column="update_user_id" property="updateUserId"/>
		<result column="delete_date" property="deleteDate"/>
		<result column="delete_user_id" property="deleteUserId"/>
	</resultMap>

	<sql id="Base_Column_List">

		id,
		type_id,
		type_code,
		param_name,
		param_code,
		param_value,
		ranking,
		description,
		param_value_type_enum,
		state_enum,
		delete_enum,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
	</sql>

	<!--=====================================查询业务 start=====================================-->

	<select id="selectById" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where id = #{id}

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		limit 0,1
	</select>


	<select id="selectOneByTypeId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamTypeIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where type_id = #{typeId}

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		limit 0,1
	</select>

	<select id="selectByTypeId" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamTypeIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where type_id = #{typeId}

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByTypeIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamTypeIdMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where type_id in
		<foreach item="item" index="index" collection="typeIdList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByTypeCode" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamTypeCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where type_code = #{typeCode}

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectOneByParamCode" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamParamCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where param_code = #{paramCode}

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		limit 0,1
	</select>


	<select id="selectByTypeCodeList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamTypeCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where type_code in
		<foreach item="item" index="index" collection="typeCodeList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByParamCodeList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamParamCodeMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where param_code in
		<foreach item="item" index="index" collection="paramCodeList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>




	<select id="selectByIdList" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.IdListMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>

		<if test="stateEnum != null">
			and state_enum = #{stateEnum}
		</if>
		<if test="deleteEnum != null">
			and delete_enum = #{deleteEnum}
		</if>
		order by ranking asc
	</select>

	<select id="selectByPageQueryMapperBo" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamPageQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param

		<where>
			<if test="id != null">
				and id = #{id}
			</if>
			<if test="typeId != null">
				and type_id = #{typeId}
			</if>
			<if test="typeCode != null and typeCode !=''">
				and type_code = #{typeCode}
			</if>
			<if test="paramName != null and paramName !=''">
				and param_name = #{paramName}
			</if>
			<if test="paramCode != null and paramCode !=''">
				and param_code = #{paramCode}
			</if>
			<if test="paramValue != null and paramValue !=''">
				and param_value = #{paramValue}
			</if>
			<if test="ranking != null">
				and ranking = #{ranking}
			</if>
			<if test="description != null and description !=''">
				and description = #{description}
			</if>
			<if test="paramValueTypeEnum != null">
				and param_value_type_enum = #{paramValueTypeEnum}
			</if>
			<if test="stateEnum != null">
				and state_enum = #{stateEnum}
			</if>
			<if test="createUserId != null">
				and create_user_id = #{createUserId}
			</if>
			<if test="deleteEnum != null">
				and delete_enum = #{deleteEnum}
			</if>
			<if test="createDateStartDate != null">
				and create_date &gt;= #{createDateStartDate}
			</if>
			<if test="createDateEndDate != null">
				and create_date &lt;= #{createDateEndDate}
			</if>
			<if test="updateDateStartDate != null">
				and update_date &gt;= #{updateDateStartDate}
			</if>
			<if test="updateDateEndDate != null">
				and update_date &lt;= #{updateDateEndDate}
			</if>
		</where>
		order by ranking asc
	</select>

	<select id="selectByStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where state_enum = #{stateEnum}
		order by ranking asc
	</select>

	<select id="selectByDeleteEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where delete_enum = #{deleteEnum}
		order by ranking asc
	</select>

	<select id="selectByDeleteEnumAndStateEnum" resultMap="BaseResultMap" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BaseQueryMapperBO">
		select
		<include refid="Base_Column_List"/>
		from sys_param
		where delete_enum = #{deleteEnum} and state_enum = #{stateEnum}
		order by ranking asc
	</select>

	<!--=====================================查询业务 end=====================================-->
	<!--=====================================操作业务 start=====================================-->

	<insert id="batchInsertList">
		INSERT INTO sys_param(

		id,
		type_id,
		type_code,
		param_name,
		param_code,
		param_value,
		ranking,
		description,
		param_value_type_enum,
		state_enum,
		delete_enum,
		create_date,
		create_user_id,
		update_date,
		update_user_id,
		delete_date,
		delete_user_id
		)VALUES
		<foreach collection="list" item="item" index="index" separator=",">
		(

			#{item.id},
			#{item.typeId},
			#{item.typeCode},
			#{item.paramName},
			#{item.paramCode},
			#{item.paramValue},
			#{item.ranking},
			#{item.description},
			#{item.paramValueTypeEnum},
			#{item.stateEnum},
			#{item.deleteEnum},
			#{item.createDate},
			#{item.createUserId},
			#{item.updateDate},
			#{item.updateUserId},
			#{item.deleteDate},
			#{item.deleteUserId}
		)
		</foreach>
	</insert>

	<update id="updateStateEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchUpdateStateMapperBO">
		update sys_param
		set
		state_enum = #{stateEnum},
		update_date = #{updateDate},
		update_user_id = #{updateUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="updateDeleteEnumByIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.bases.BatchDeleteMapperBO">
		update sys_param
		set
		delete_enum = #{deleteEnum},
		update_date = #{updateDate},
		update_user_id = #{updateUserId},
		delete_date = #{deleteDate},
		delete_user_id = #{deleteUserId}

		where id in
		<foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<update id="updateDeleteEnumByTypeIdList" parameterType="com.cdk8s.sculptor.pojo.bo.mapper.sysparam.SysParamTypeIdMapperBO">
		update sys_param
		set
		delete_enum = #{deleteEnum},
		update_date = #{updateDate},
		update_user_id = #{updateUserId},
		delete_date = #{deleteDate},
		delete_user_id = #{deleteUserId}

		where type_id in
		<foreach item="item" index="index" collection="typeIdList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>

	<!--=====================================操作业务 end=====================================-->

</mapper>
