.jssora05l, .jssora05r {
  display: block;
  position: absolute;
  /* size of arrow element */
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url('../images/a17.png') no-repeat;
  overflow: hidden;
}

.jssora05l {
  background-position: -8px -41px;
}

.jssora05r {
  background-position: -70px -40px;
}

.jssora05l:hover {
  background-position: -128px -41px;
}

.jssora05r:hover {
  background-position: -190px -40px;
}

.jssora05l.jssora05ldn {
  background-position: -250px -40px;
}

.jssora05r.jssora05rdn {
  background-position: -310px -40px;
}

/* jssor slider thumbnail navigator skin 01 css */
/*
.jssort01 .p            (normal)
.jssort01 .p:hover      (normal mouseover)
.jssort01 .p.pav        (active)
.jssort01 .p.pdn        (mousedown)
*/
.jssort01 .p {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
}

.jssort01 .t {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.jssort01 .w {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.jssort01 .c {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 68px;
  height: 68px;
  border: #fff 2px solid;
  box-sizing: content-box;
  background: url('../images/t01.png') -800px -800px no-repeat;
  _background: none;
}

.jssort01 .pav .c {
  top: 2px;
  _top: 0px;
  left: 2px;
  _left: 0px;
  width: 68px;
  height: 68px;
  border: #000 0px solid;
  _border: #fff 2px solid;
  background-position: 50% 50%;
}

.jssort01 .p:hover .c {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 70px;
  border: #fff 1px solid;
  background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
  background-position: 50% 50%;
  width: 68px;
  height: 68px;
  border: #fff 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
  /* ie quirks mode adjust */
  width /**/: 72px;
  height /**/: 72px;
}
