
.subcolumn_nav_met_35_2_12 {
  text-align: center;
  padding: 40px 20px 20px 20px;
  margin-top: 30px;
  box-shadow: 0 0 10px #eee;
}

.subcolumn_nav_met_35_2_12 .overflow-visible {
  overflow: visible !important
}


.subcolumn_nav_met_35_2_12.bordernone {
  border-bottom: none
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul {
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li {
  position: relative;
  white-space: nowrap;
  display: inline-block;
  float: none;
  margin-bottom: 10px;
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link {
  border-right: 1px dashed #949494;
  font-size: 16px !important;
  text-decoration: none;
  display: block;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
  height: 30px;
  color: #787878;
  -webkit-transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms;
  transition: all .6s cubic-bezier(.165, .84, .44, 1) 0ms
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link:active, .subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link:focus {
  text-decoration: none
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link.active {
  color: #c5a47e;
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li > ul > li > a.active {
  color: #c5a47e !important;
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li .dropdown-menu {
  border: none;
  top: 40px;
}

.subcolumn_nav_met_35_2_12 .product-search:first-child {
  margin-top: 10px
}

.subcolumn_nav_met_35_2_12 .product-search .form-group {
  max-width: 500px
}

.subcolumn_nav_met_35_2_12 .input-search .form-control {
  border-radius: 0
}

.subcolumn_nav_met_35_2_12 .form-control.focus, .form-control:focus {
  border-color: #c5a47e;
}


.subcolumn_nav_met_35_2_12 .subcolumn-nav-location a:active, .subcolumn_nav_met_35_2_12 .subcolumn-nav-location a:focus, .subcolumn_nav_met_35_2_12 .subcolumn-nav-location a:hover {
  text-decoration: none
}


.subcolumn_nav_met_35_2_12 .subcolumn-nav {
  float: left
}

.subcolumn_nav_met_35_2_12 .subcolumn-nav .dropdown-menu a {
  color: #787878 !important;
}

.subcolumn_nav_met_35_2_12 .subcolumn-nav .dropdown-menu a:hover {
  color: #c5a47e !important;
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link {
  position: relative
}

.subcolumn_nav_met_35_2_12 .dropdown-toggle::after {
  border: none
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link:hover:after {
  width: 80%;
  left: 10%;
  transition-delay: .2s
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link.active:after {
  display: none
}

.subcolumn_nav_met_35_2_12 .dropdown-item:hover, .subcolumn_nav_met_35_2_12 .dropdown-item.active {
  background: transparent !important
}

.subcolumn_nav_met_35_2_12 .row {
  padding: 40px 20px;
  background: #ffffff;
  position: relative;
  width: auto;
  margin-top: -35px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
}

.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link:before {
  content: '';
  display: block;
  width: 6px;
  height: 1px;
  background: #c5a47e;
  position: absolute;
  left: 10px;
  top: 50%;
  transition: ease .65s;
  opacity: 0
}


.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link:after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #c5a47e;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transition: ease .65s
}

.subcolumn_nav_met_35_2_12 .dropdown-toggle::after {
  border: none
}


.subcolumn_nav_met_35_2_12 .subcolumn_nav_met_35_2_12-ul > li a.link.active:after {
  display: none
}

.subcolumn_nav_met_35_2_12 .dropdown-item:hover, .subcolumn_nav_met_35_2_12 .dropdown-item.active {
  background: none
}


.subcolumn_nav_met_35_2_12 .text-xs-left {
  width: 100%
}

@media screen and (min-width: 1200px) {
  .subcolumn_nav_met_35_2_12 .text-xs-left {
    width: 100%
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .subcolumn_nav_met_35_2_12 .text-xs-left {
    width: 100%
  }
}

@media (max-width: 768px) {
  .subcolumn_nav_met_35_2_12 .text-xs-left {
    width: 100%
  }

  .subcolumn_nav_met_35_2_12 .container {
    padding: 0px
  }

  .subcolumn_nav_met_35_2_12 {
    border-bottom: 1px solid #f0f2f5
  }

  .subcolumn_nav_met_35_2_12 .row {
    margin: 0;
    padding: 5px
  }

  .subcolumn_nav_met_35_2_12 .subcolumn-nav {
    float: none
  }

}

.subcolumn_nav_met_35_2_12 .subcolumn-nav .dropdown-menu a.active {
  color: #c5a47e !important;
  background: none !important
}


.product_list_page_met_35_5_53 #met-pager-btn {
  border-color: #c5a47e;
  background-color: #c5a47e;
}

@media (max-width: 767px) {
  .product_list_page_met_35_5_53 .col-md-3 {
    overflow: hidden
  }

  .product_list_page_met_35_5_53 > .container > .row {
    margin: 0px
  }
}

@media (min-width: 768px) {
  .product_list_page_met_35_5_53 .right .col-md-9 {
    float: right
  }

  .product_list_page_met_35_5_53 .right .met-sidebar {
    margin-left: 0px !important;
    margin-right: 30px
  }
}

@media (max-width: 540px) {
  .subcolumn_nav_met_35_2_12 {
    margin-top: 0 !important;
    padding: 10px;
  }
}

.mt50 {
  margin-top: 50px;
}

.container-content {

}

.main-body {
  box-shadow: 0 0 10px #eee;
  border-radius: 4px;
}
